<div class="modal fade bd-example-modal-lg comments" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="d-flex">
                <div>
                    <img src="../static/img/damn.jpg" height="500px">
                </div>
                <div class="flex-grow-1">
                    <img src="../static/img/initial_profile_image.png" height="25px" width="25px" style="border-radius: 50%;" class="me-2">
                    <b>username</b><hr>
                    <div class="comment_scroll">
                        <div>
                            <img src="../static/img/initial_profile_image.png" height="25px" width="25px" style="border-radius: 50%;" class="me-2">
                            <b>username</b>
                            <span>comment</span>
                        </div>
                    </div>
                    <input type="text" placeholder="Post the comment" class="comment-model-input">
                    <button type="button" class="btn btn-primary ms-2">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>
